src/main/app/transactionssapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="transactionssapi-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="transactionssapi-config" raml="transactionssapi.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false"/>
    <amqp:connector name="AMQP_0_9_Connector" validateConnections="true" username="test" password="test" doc:name="AMQP-0-9 Connector"/>
    <flow name="transactionssapi-main">
        <http:listener config-ref="transactionssapi-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="transactionssapi-config" doc:name="APIkit Router"/>
        <exception-strategy ref="transactionssapi-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="transactionssapi-console">
        <http:listener config-ref="transactionssapi-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="transactionssapi-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/transaction:transactionssapi-config">

        <set-payload value="{}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/transaction:application/json:transactionssapi-config">
        <dw:transform-message doc:name="Transform Message" metadata:id="981051a6-2c80-4dce-95c6-2aaed78283f0">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
		payload.account_number ++ "|" ++
		payload.transaction_type ++ "|" ++
		payload.currency ++ "|" ++
		(payload.amount)as :string]]></dw:set-payload>
        </dw:transform-message>
        <amqp:outbound-endpoint exchangeName="test.transactions" queueName="transactions" exchangeType="topic" exchangeDurable="true" queueDurable="true" responseTimeout="10000" exchange-pattern="request-response" connector-ref="AMQP_0_9_Connector" doc:name="AMQP-0-9"/>
        <set-payload value="Message published to Rabbit MQ" doc:name="Set Payload"/>
    </flow>
    <flow name="transactionssapiFlow">
        <amqp:inbound-endpoint exchangeName="test.transactions" queueName="transactions" responseTimeout="10000" exchange-pattern="request-response" doc:name="AMQP-0-9"/>
        <logger message="Message Suscribed from Rabbit MQ" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="C:\Users\juan.carbajal\Documents\mule\log" outputPattern="messages.txt" responseTimeout="10000" doc:name="File"/>
    </flow>
    <apikit:mapping-exception-strategy name="transactionssapi-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
